
@{
    ViewBag.Title = "InsertV";
}

<h2>Insert The Vendor</h2>
<form method="post">
    ID:  <input type="text" name="ID" />
    Vendor Name :  <input type="text" name="VName" />
    Email-Id:  <input type="text" name="EmailId" />
    Address:  <input type="text" name="Address" />
    
    <button type="submit">Insert</button>
</form>
