
@{
    ViewBag.Title = "UpdateV";
}

<h2>Update The Vendors Details</h2>

<form method="post">
    ID:  <input type="text" name="username" />
    Vendor Name :  <input type="text" name="username" />
    Email-Id:  <input type="text" name="username" />
    Address:  <input type="text" name="username" />

    <button type="submit">Update</button>
</form>