@{
    ViewBag.Title = "Home Page";
}


<a href="/home/index">Home</a>|<a href="/accounts/login">Login</a>|<a href="/vendors">All Details</a>|<a href="/vendors/insertv">Insert</a>|<a href="/vendors/updatev">Update</a>